/TavolaPitagorica/nbproject/private/
/TavolaPitagorica/build/
/TernaPitagorica/nbproject/private/
/TernaPitagorica/build/
/es1/nbproject/private/
/E1SommaCifre/nbproject/private/
/E3MenuVettore/nbproject/private/
/MostraPosCifre/nbproject/private/
/MostraPosCifre/build/
/prova java dicembre/Es1SommaCifre/nbproject/private/
/prova java dicembre/Es1SommaCifre/build/
/prova java dicembre/Es2Pigreco/nbproject/private/
/prova java dicembre/Es2Pigreco/build/
/prova java dicembre/E3MenuVettore/nbproject/private/