/TavolaPitagorica/nbproject/private/
/TavolaPitagorica/build/
/TernaPitagorica/nbproject/private/
/TernaPitagorica/build/
/es1/nbproject/private/
/E1SommaCifre/nbproject/private/
/E3MenuVettore/nbproject/private/
/MostraPosCifre/nbproject/private/
/MostraPosCifre/build/